@page
@model CalzadosLunghi.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.Edit != null)
{
    <div class="alert alert-info">@Model.Edit</div>
}

@if (Model.Delete != null)
{
    <div class="alert alert-danger">@Model.Delete</div>
}

<h1>Listado</h1>

<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo.Codigo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TipoMaterial)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
