@page
@model CalzadosLunghi.Pages.ParteZapatos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-bottom:10px">Listado</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParteZapato.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParteZapato.FormadoPorMultipleMateriales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ParteZapatos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormadoPorMultipleMaterialesString)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
